.fesPerson {
	padding-bottom: 10px;
}

.fesPerson h1, .fesPerson h2, .fesPerson h3, .fesPerson h4 {
	display: inline;
	vertical-align: middle;
}

.fesPerson:nth-child(even) {
	background-color: #eee;
}
