#facultySpotlight table {
	float: right;
	clear: both;
	text-align: left;
	text-decoration: none;
	outline-style: none;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;

	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;

	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;

	border-image-width: 0;

	color: none;
	height: 200;
	font-size: 11px;
	font-size: 90%;

	background-clip: none;

	border-right-style: none;
	border-right-width: 0;
	
	
}

/*#facultySpotlight table > td {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;

	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;

	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}*/

#facultySpotlight img {
	display: block;
	margin: auto;
	max-width: 100px;
	width: 100px;
	border: 1px solid #333;
