header > h1#page-title {
	margin: 0px 0;
	font-size: 0%;
	line-height: 0em;
}

.field-item  > #musterPictureContent{
	min-width: 230px;
}

.node-content > .field-name-field-announcements {
	width: 240px;
}

#musterPictureContent img{
	width: 215px;
	height: auto;
}

#musterInfoContent dd {
	margin-left: 0;
}

#musterInfoContent #Title = {
	margin-bottom: 2px;
}

#musterInfoContent #Sites = {
	margin-bottom: 2px;
}


#musterDataContent dt {
	font-family:'Open Sans', 'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	background: url("https://education.ucsb.edu/drupal7/sites/default/files/main_images/background-light.png");
	background-size: 250px 38px;
	background-repeat:no-repeat;
	cursor: pointer;
	font-size: 15px;
	height: 21px;
	padding: 8px 10px 8px 15px;
	border-bottom: 1px solid #fff;
}

#musterDataContent dt:hover {
	font-family:'Open Sans', 'Trebuchet MS', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	background: url("https://education.ucsb.edu/drupal7/sites/default/files/main_images/background-dark.png");
	background-size: 250px 38px;
	background-repeat:no-repeat;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 21px;
	padding: 8px 10px 8px 15px;
	border-bottom: 1px solid #fff;
}

#musterDataContent dd {
	padding-bottom: 3px;
}

#musterDataContent dd:nth-child(odd) {
	background-color: rgb(250, 250, 250);
}
