#musterInfoContent dd {
	margin-left: 0;
	font-size: 11.5px;
}

header > h1#page-title {
  margin: 0px 0;
  font-size: 0%;
  line-height: 0em;
}

#musterDataContent dt {
	background-color: rgb(60, 175, 231);
	cursor: pointer;
	font-size: 125%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #333;
}

#musterDataContent dd {
	padding-bottom: 3px;
}

#musterDataContent dd:nth-child(odd) {
	background-color: rgb(230, 230, 230);
}
