.fesPerson {
	padding-bottom: 5px;
	padding-top: 5px;
}

.fesPerson h1, .fesPerson h2, .fesPerson h3, .fesPerson h4 {
	display: inline;
}

.fesPerson:nth-child(even) {
	background-color: rgb(235, 244, 251);
}
