#currentlyFunded table {
	border-spacing: 0;
	border-collapse: collapse;
	clear: both;
}

#currentlyFunded table a, #currentlyFunded h3 {
	cursor: pointer;
	margin: 0;
}

#currentlyFunded tbody td>dl {
	border-top: 1px solid #ddd;
	margin-top: 0;
}

#currentlyFunded td {
	min-width: 8em;
	padding: 0.5em 1em;
}

#currentlyFunded dt {
	font-weight: bold;
}

#currentlyFunded tbody tr:nth-child(even) td {
	padding: 0;
	margin: 0;
}

#currentlyFunded tbody tr:nth-child(even) dl {
	padding: 1em 2em;
	overflow: auto;
}

#currentlyFunded dd, #currentlyFunded dt {
	float: left;
}

#currentlyFunded dd {
	margin-left: 0.5em;
}

#currentlyFunded dt.yearEnd {
	margin-left: 3em;
}

#currentlyFunded .amount {
	float: right;
}

#currentlyFunded dt.amount {
	margin-right: 6em;
}

#currentlyFunded dd.amount {
	clear: right;
	margin-top: -1.5em;
}

#currentlyFunded .sponsor, #currentlyFunded .abstract {
	margin-top: 1em;
}

#currentlyFunded dt.sponsor, #currentlyFunded .abstract {
	clear: both;
}

#currentlyFunded dd.abstract {
	white-space: pre-wrap;
}

#currentlyFunded th {
	cursor: pointer;
}

/*Taken from http://cdn-4.psndealer.com/e2/dealersite/images/sort_arrow_up.png*/
#currentlyFunded .sorted {
	background: url("https://education.ucsb.edu/drupal7/sites/default/files/main_images/contracts_grants/sort_arrow_up.png") right center no-repeat;
}

/*Taken from http://cdn-4.psndealer.com/e2/dealersite/images/sort_arrow_down.png*/
#currentlyFunded .rsorted {
	background: url("https://education.ucsb.edu/drupal7/sites/default/files/main_images/contracts_grants/sort_arrow_down.png") right center no-repeat;
}

#currentlyFunded td[colspan=2] {
	padding: 0 1em;
}
